div {
    min-width: 20rem;
    width: 20vw;
    height: auto;
    background-color: white;
    padding: 2.5em;
    border-radius: 2em;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.daytime {
  background: rgba(63,161,221,1);
  background: linear-gradient(135deg, rgba(63,161,221,1) 0%, rgba(135,206,235,1) 100%);
}

.nighttime {
    background: rgb(0,0,64);
    background: linear-gradient(-45deg, rgba(0,0,64,1) 0%, rgba(0,0,139,1) 100%);
    color: white;
}

h2 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1em;
}

p {
    margin-bottom: 2rem;
}

.temperature {
    font-size: 10rem;
    font-weight: 300;
    text-align: center;
}

.wind {
    font-size: 2rem;
    text-align: center;
}

@media screen and (max-width: 768px) {
    div {
        width: 80vw;
        height: auto;
    }
}
