/* You can add global styles to this file, and also import other style files */
$header-fonts: "Source Serif 4", "Times New Roman", serif;
$body-fonts: "Open Sans", Arial, Helvetica, sans-serif;

*, *::before, *::after {
    box-sizing: border-box;
    position: relative;
}
    
html {
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header-fonts;
}

body {
    font-family: $body-fonts;
}