$main-blue: #4080c0;

main {
    width: 100vw;
    min-height: calc(100vh - 6rem);
    height: fit-content;
    overflow-x: scroll;
    background-color: $main-blue;
    display: flex;
    flex-direction: row;
    align-items: center;
}

app-forecast-error {
    margin: 0 auto;
    max-width: 50rem;
}

ol {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10vw;
    padding: 0 10vw;
}

@media screen and (max-width: 1280px) {
    ol {
        gap: 5vw;
        padding: 0 5vw;
    }
}

@media screen and (max-width: 768px){
    main {
        overflow-x: hidden;
    }
    
    ol {
        width: 100%;
        flex-direction: column;
        gap: 5vh;
        padding: 5vh 0;
    }
}